<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/studentdb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

<!--        &lt;!&ndash; JDBC connection pool (built-in) &ndash;&gt;-->
<!--        <property name="hibernate.connection.pool_size">10</property>-->
        <property name="hibernate.transaction.coordinator_class">jdbc</property>


        <!-- Show SQL in console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Automatically create/update schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- List your annotated entity classes -->
        <mapping class="org.example.hibernatedemo1.model.Student"/>
        <mapping class="org.example.hibernatedemo1.model.Degree"/>
        <mapping class="org.example.hibernatedemo1.model.Department" />

    </session-factory>
</hibernate-configuration>